<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="template">
            <h2><span jhiTranslate="ngConfigUiApp.template.detail.title">Template</span> {{template.name}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ngConfigUiApp.template.name">Name</span></dt>
                <dd>
                    <span>{{template.name}}</span>
                </dd>
                <dt><span jhiTranslate="ngConfigUiApp.template.value">Value</span></dt>
                <dd>
                    <span>{{template.value}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/template', template.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
