<div>
    <h2 id="page-heading">
        <span jhiTranslate="ngConfigUiApp.template.home.title">Templates</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-template" [routerLink]="['/template/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ngConfigUiApp.template.home.createLabel">
            Create new Template
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="templates">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ngConfigUiApp.template.name">Name</span></th>
            <th><span jhiTranslate="ngConfigUiApp.template.value">Value</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let template of templates ;trackBy: trackId">
                <td><a [routerLink]="['/template', template.id, 'view' ]">{{template.id}}</a></td>
                <td>{{template.name}}</td>
                <td>{{template.value}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/template', template.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/template', template.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'template', { outlets: { popup: template.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
