<div class="row justify-content-center">
    <div class="col-8">
		<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-config-file-heading" jhiTranslate="ngConfigUiApp.configFile.home.createOrEditLabel">Create or edit a Config File</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!configFile.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="configFile.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ngConfigUiApp.configFile.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="configFile.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ngConfigUiApp.configFile.value" for="field_value">Value1</label>
                    <textarea class="form-control" name="value" id="field_value"
						[(ngModel)]="configFile.value" ></textarea>	
						<!--
							[config]=""
							<ngx-codemirror 
							[(ngModel)]="configFile.value"
							[options]="{
								lineNumbers: true,
								theme: 'material',
								mode: 'markdown'
							}">
						</ngx-codemirror>
					-->
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ngConfigUiApp.configFile.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                        [(ngModel)]="configFile.active" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ngConfigUiApp.configFile.template" for="field_template">Template</label>
                    <select class="form-control" id="field_template" name="template" [(ngModel)]="configFile.template" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="templateOption.id === configFile.template?.id ? configFile.template : templateOption" *ngFor="let templateOption of templates; trackBy: trackTemplateById">{{templateOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
