<div>
    <h2 id="page-heading">
        <span jhiTranslate="ngConfigUiApp.configFile.home.title">Config Files</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-config-file" [routerLink]="['/config-file/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ngConfigUiApp.configFile.home.createLabel">
            	Create new Config File
            </span>
        </button>
        <button id="jh-sync-entities" class="btn btn-primary float-right jh-create-entity create-config-file" (click)="sync()">
			<fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ngConfigUiApp.configFile.home.synchronizeLabel">
            	Synchronize with file system
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="configFiles">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="ngConfigUiApp.configFile.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="value"><span jhiTranslate="ngConfigUiApp.configFile.value">Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="active"><span jhiTranslate="ngConfigUiApp.configFile.active">Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="template.id"><span jhiTranslate="ngConfigUiApp.configFile.template">Template</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let configFile of configFiles ;trackBy: trackId">
                <td><a [routerLink]="['/config-file', configFile.id, 'view' ]">{{configFile.id}}</a></td>
                <td>{{configFile.name}}</td>
                <td>{{configFile.value}}</td>
                <td>{{configFile.active}}</td>
                <td>
                    <div *ngIf="configFile.template">
                        <a [routerLink]="['../template', configFile.template?.id, 'view' ]" >{{configFile.template?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/config-file', configFile.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/config-file', configFile.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'config-file', { outlets: { popup: configFile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
