<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="configFile">
            <h2><span jhiTranslate="ngConfigUiApp.configFile.detail.title">Config File</span> {{configFile.name}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ngConfigUiApp.configFile.name">Name</span></dt>
                <dd>
                    <span>{{configFile.name}}</span>
                </dd>
                <dt><span jhiTranslate="ngConfigUiApp.configFile.value">Value</span></dt>
                <dd>
                    <span>{{configFile.value}}</span>
                </dd>
                <dt><span jhiTranslate="ngConfigUiApp.configFile.active">Active</span></dt>
                <dd>
                    <span>{{configFile.active}}</span>
                </dd>
                <dt><span jhiTranslate="ngConfigUiApp.configFile.template">Template</span></dt>
                <dd>
                    <div *ngIf="configFile.template">
                        <a [routerLink]="['/template', configFile.template?.id, 'view']">{{configFile.template?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/config-file', configFile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
