<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="includeFile">
            <h2><span jhiTranslate="ngConfigUiApp.includeFile.detail.title">Include File</span> {{includeFile.name}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ngConfigUiApp.includeFile.name">Name</span></dt>
                <dd>
                    <span>{{includeFile.name}}</span>
                </dd>
                <dt><span jhiTranslate="ngConfigUiApp.includeFile.value">Value</span></dt>
                <dd>
                    <span>{{includeFile.value}}</span>
                </dd>
                <dt><span jhiTranslate="ngConfigUiApp.includeFile.active">Active</span></dt>
                <dd>
                    <span>{{includeFile.active}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/include-file', includeFile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
