<div>
    <h2 id="page-heading">
        <span jhiTranslate="ngConfigUiApp.includeFile.home.title">Include Files</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-include-file" [routerLink]="['/include-file/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ngConfigUiApp.includeFile.home.createLabel">
            Create new Include File
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
	<br/>
    <div class="table-responsive" *ngIf="includeFiles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ngConfigUiApp.includeFile.name">Name</span></th>
            <th><span jhiTranslate="ngConfigUiApp.includeFile.value">Value</span></th>
            <th><span jhiTranslate="ngConfigUiApp.includeFile.active">Active</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let includeFile of includeFiles ;trackBy: trackId">
                <td><a [routerLink]="['/include-file', includeFile.id, 'view' ]">{{includeFile.id}}</a></td>
                <td>{{includeFile.name}}</td>
                <td>{{includeFile.value}}</td>
                <td>{{includeFile.active}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/include-file', includeFile.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/include-file', includeFile.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'include-file', { outlets: { popup: includeFile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
